.SelectFCDirectory__methods {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
}

.Card {
	--padding: 30px;

	position: relative;
	padding-block: var(--padding);
	padding-inline: calc(var(--padding) - 16px);
	border-radius: var(--vkui--size_border_radius--regular);

	&::before {
		content: '';
		inset-inline-start: 0;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		position: absolute;
		border-radius: inherit;
		pointer-events: none;
		box-shadow: inset 0 0 0 var(--vkui--size_border--regular) var(--vkui--color_separator_primary);
	}
}
