.audioRow__info--withBitrate {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-end;
	gap: 3px;

	min-width: 18px !important;
	top: 6px !important;

	&::before {
		left: -25px !important;
		top: 12px !important;
	}
}

.audioRow__bitrate {
	// background-color: var(--vkui--color_icon_secondary);
	// color: var(--vkui--color_text_contrast);

	background-color: var(--vkui--color_background_secondary);
	color: var(--vkui--color_text_subhead);

	pointer-events: all;
	text-align: center;
	cursor: default;
	font-size: 12px;
	padding: 2px 4px;
	border-radius: 4px;
	line-height: 14px;
	font-weight: 400;
	box-sizing: border-box;
	margin: 0;
	position: absolute;
	top: 17px;
}

:global(.audio_row):hover .audioRow__bitrate {
	visibility: hidden;
}
