.audioRow__info--withBitrate {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-end;
	gap: 0px;
	justify-content: center;
	min-width: 18px !important;

	:global(.audio_row__duration) {
		position: unset !important;
		top: unset !important;
	}
}

:global(.audio_row.audio_explicit) .audioRow__info--withBitrate {
	position: relative;

	:global(.audio_row__duration)::before {
		top: 18px;
	}
}

:global(.audio_w_covers .audio_row .audio_row__inner) .audioRow__info--withBitrate {
	gap: 6px;
}

.audioRow__info--withBitrate:has(:global(.audio_row__duration[style*='visibility: hidden;'])) {
	display: block;

	.audioRow__bitrate {
		display: none;
	}
}

.audioRow__bitrate {
	// background-color: var(--vkui--color_icon_secondary);
	// color: var(--vkui--color_text_contrast);

	background-color: var(--vkui--color_background_secondary);
	color: var(--vkui--color_text_subhead);

	pointer-events: all;
	text-align: center;
	cursor: default;
	font-size: 12px;
	padding: 2px 4px;
	border-radius: 4px;
	line-height: 14px;
	font-weight: 400;
	box-sizing: border-box;
	margin: 0;
}

:global(.audio_row.audio_row__current) .audioRow__bitrate {
	background-color: var(--vkui--color_background_secondary--active);
}

.audioRowReact--withBitrate {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
}
