.Switch {
	--vkui_internal--Switch__track_width: 32px;
	--vkui_internal--Switch__track_height: 20px;
	--vkui_internal--Switch__handle_width: 16.5px;
	--vkui_internal--Switch__handle_widthNoUnit--checked: 16;
	--vkui_internal--Switch__handle_widthNoUnit--not-checked: 10;
	--vkui_internal--Switch__handle_height: 16.5px;
	--vkui_internal--Switch__handle_heightNoUnit: 16.5;
}
