.DownloadManager {
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
	border: 1px solid var(--vkui--color_separator_primary);
	padding-bottom: 8px;
	min-width: 250px;
	max-width: 500px;
	width: 474px;
}
