.DownloadAudioButton {
	--icon-size: 20px;

	appearance: none;
	background: 0 0;
	border: 0;
	padding: 0;
	margin: 0;
	font-family: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
	cursor: pointer;
	transition: background-color 0.15s ease-out;
	border-radius: var(--vkui--size_border_radius--regular);
	min-width: 63px;

	&:hover {
		background-color: var(--vkui--color_transparent--hover);
	}
}

// плеер музыки
:global(.AudioPlayerBlock__root),
:global([class*='AudioPlayerUserControlsContainer__userButtonsContainer--']) {
	.DownloadAudioButton {
		transition: opacity 0.15s ease-out;
		opacity: 1;
		gap: 4px;
		min-width: 37px;

		&:hover {
			background-color: unset;
			opacity: 0.8;
		}
	}

	.DownloadAudioButton__size,
	.DownloadAudioButton__icons {
		color: var(--vkui--color_icon_secondary);
	}

	.DownloadAudioButton__size {
		font-size: 10px;
		line-height: 12px;
	}
}

// трек во вложении
:global(.SecondaryAttachment__after),
:global([data-testid='secondaryattachment-after']),
:global([class*='SecondaryAttachment__after']) {
	.DownloadAudioButton {
		display: flex;
		flex-direction: row-reverse;
		min-width: var(--secondary-attachment-icon-button-size, 36px);
		min-height: var(--secondary-attachment-icon-button-size, 36px);
		margin: 0 8px;
		transition: none;
		opacity: 1;
		gap: 8px;

		&:hover {
			background-color: unset;
			opacity: 0.7;
		}
	}

	.DownloadAudioButton__size,
	.DownloadAudioButton__icons {
		color: var(--vkui--color_icon_secondary);
	}
}

// треки из вложений чата
:global(.ConvoProfileTabs__tab) {
	.DownloadAudioButton {
		min-width: 24px;
		gap: 0px;
		border-radius: calc(var(--vkui--size_border_radius--regular) / 2);
	}

	.DownloadAudioButton__icons {
		color: var(--vkui--color_icon_secondary);
	}

	&:global(.vkuiTabsItem__selected.vkuiTabsItem__modeAccent) {
		.DownloadAudioButton__icon--download {
			color: var(--vkui--color_icon_accent);
		}
	}
}

.DownloadAudioButton__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--vkui--color_icon_medium);
}

.DownloadAudioButton__icon--download {
	display: block;
}

.DownloadAudioButton__icon--loading {
	display: none;
}

.DownloadAudioButton--loading {
	.DownloadAudioButton__icon--download {
		display: none;
	}

	.DownloadAudioButton__icon--loading {
		display: block;
		animation: rotate-animation 0.7s linear infinite;
		transform-origin: calc(var(--icon-size) / 2) calc(var(--icon-size) / 2);
	}
}

.DownloadAudioButton__size {
	color: var(--vkui--color_text_subhead);
	text-align: center;
	font-size: 11px;
	line-height: 13px;
	font-weight: 400;
	box-sizing: border-box;
}

@keyframes rotate-animation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

:global([class*='AudioRow__root']) {
	.DownloadAudioButton {
		display: flex;
		flex-direction: row-reverse;
		margin: 0 var(--vkui--size_button_group_gap_medium--regular);
		transition: opacity 0.15s ease-out;
		opacity: 1;
		gap: 8px;

		&:hover {
			background-color: unset;
			opacity: 0.8;
		}
	}

	.DownloadAudioButton__size,
	.DownloadAudioButton__icons {
		color: var(--vkui--color_icon_secondary);
	}

	.DownloadAudioButton__size {
		font-size: 12px;
		line-height: 14px;
	}
}

// список треков в постах
:global([class*='MusicCell__musicCell']) {
	.DownloadAudioButton {
		position: relative;
		margin-top: -4px;
		margin-bottom: -4px;
		right: -7px;
		border-radius: var(--vkui--size_border_radius_paper--regular);
	}
}

:global([class*='PrimaryAttachmentAudio__buttonGroup']) {
	// одиночный трек из поста
	.DownloadAudioButton {
		border: 0;
		margin: 0;
		padding: 0;
		transition: background-color 0.15s ease-out, color 0.15s ease-out;
		display: inline-block;
		position: relative;
		box-shadow: var(--vkui--elevation3);
		color: var(--vkui--color_text_primary_invariably);
		background-color: var(--vkui--color_background_contrast);
		width: 48px;
		--vkui--size_button_minimum_width--regular: 48px;
		--vkui--size_button_base_large_padding_horizontal--regular: 0;
		flex-grow: 1;
		flex-basis: 0;
		width: 100%;
		border-radius: var(--vkui--size_border_radius--regular);
		box-sizing: border-box;
		max-width: 100%;
		min-height: var(--vkui--size_button_large_height--compact);
		min-width: var(--vkui--size_button_minimum_width--regular);
	}

	.DownloadAudioButton,
	.DownloadAudioButton__size,
	.DownloadAudioButton__icons {
		color: var(--vkui--color_text_primary_invariably);
	}
}
